# Server
SERVER_PORT=
SERVER_PREFIX=api
# Database
DB_TYPE=mysql
DB_HOST=
DB_USERNAME=
DB_PASSWORD=
DB_PORT=
DB_DATABASE=
# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
# JWT
JWT_SECRET=secret
JWT_ACCESS_TOKEN_EXPIRATION=30m
JWT_REFRESH_TOKEN_EXPIRATION=7d
# Recaptcha
RECAPTCHA_API_KEY=
RECAPTCHA_PROJECT_ID=
RECAPTCHA_API_URL=
RECAPTCHA_BOT_INDEX=
RECAPTCHA_EXPECTED_ACTION=
RECAPTCHA_ANDROID_PACKAGE_NAMES=
RECAPTCHA_IOS_BUNDLE_IDS=
RECAPTCHA_HOST_NAMES=
# SeatsIO
SEATSIO_SECRET_KEY=
SEATSIO_WORKSPACE_KEY=
SEATSIO_HOLD_PERIOD=
# Portone
PORTONE_STORE_ID=
PORTONE_CHANNEL_KEY=
PORTONE_API_SECRET=
PORTONE_WEBHOOK_SECRET=
# AWS
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
# Firebase
FIREBASE_TYPE=
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
FIREBASE_AUTH_URI=
FIREBASE_TOKEN_URI=
FIREBASE_AUTH_PROVIDER_CERT_URL=
FIREBASE_CLIENT_CERT_URL=
# Naver
NCLOUD_ACCESS_KEY=
NCLOUD_SECRET_KEY=
NCLOUD_SENS_SERVICE_ID=
NCLOUD_SENS_FROM_NUMBER=
# Multer
MULTER_TYPE=s3
MULTER_S3_BUCKET=
# Mailer
MAILER_TYPE=
MAILER_FROM=